*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* header */
header{
    text-align: center;
    padding: 1em 0;
}

/* Navbar */

.logo{
}
.logo h1{
    align-items: center;
    margin: 0.25em auto;
}


.container{    
    background: #f8f8f8;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
}
nav ul{
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
nav li{
    margin-left: 2em;
}
nav a{
    color: #707070;
    font-weight: 700;

}
nav a:hover,
nav a:focus
{
    color: #1792d2;
}

/* Media Queries */

@media (max-Width:675px){
    .container{
        flex-direction: column;
    }

    nav li{
        margin: 0.5em 1em;
    }

    nav ul{
        flex-direction: column;
    }
    
}